
<% if @well.errors.any? %>
<div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
        <% @well.errors.full_messages.each do |item|%>
            <li><%= item %></li>
        <% end %>
    </ul>   
</div>
<%end %>

<%= form_for [:admin, @well], html: { multipart: true }  do |f|%>
<div class="d-flex ">   <br>
    <div class="orm grm flex-fill">
        Название скважины <%= f.text_field(:name,{:class =>'marginsh form-control'}) %>
    </div>
    
    
    <div class="orm grm flex-fill"> 
        Разрез<%= f.collection_select :cut_id, Cut.order(:name), :id, :name, {include_blank: true}, class: 'form-control' %> 
    </div>
    <div class="orm grm flex-fill">
        Взрывчатка<%= f.collection_select :explosive_id, Explosive.order(:name), :id, :name, {include_blankL: true}, class: 'form-control' %> 
    </div>

</div> 
<br>
    <div class="orm d-flex">
    <p ><%=f.submit 'Сохранить', ({:class => 'btn  btn-outline-success'})%></p>
    <p><%= link_to "Перейти",mining_wells_path, :class=>'btn-in-home btn mine-btn' %></p>
    <p ><%= link_to "Назад", :back, ({ :class => 'btn-in-home btn btn-outline-dark text-dark'})%></p>
    </div>    
<%end%>
