<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Разрез</Data></Cell>
        <Cell><Data ss:Type="String">Название скважины</Data></Cell>
        <Cell><Data ss:Type="String">Взрывчатка</Data></Cell>
        <Cell><Data ss:Type="String">Количество тонн</Data></Cell>
        <Cell><Data ss:Type="String">Ответственный</Data></Cell>
        <Cell><Data ss:Type="String">Взрывник</Data></Cell>
        <Cell><Data ss:Type="String">Время проведения</Data></Cell> 
      </Row>
   <% @work_search.each do |work| %> 
      <Row>
        <Cell><Data ss:Type="Number"><%= work.id %></Data></Cell> 
        <Cell><Data ss:Type="String"><%= work.well.cut.name %></Data></Cell> 
        <Cell><Data ss:Type="String"><%= work.well.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= work.well.explosive.name  %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= work.quantity %></Data></Cell>
        <Cell><Data ss:Type="String"><%= work.peopl.fn %></Data></Cell>
        <Cell><Data ss:Type="String"><%= work.peopl.fn%></Data></Cell>
        <Cell><Data ss:Type="String"><%= work.time%></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

